:root {
    --primary:black;
    --bg-primary:#bdbdbd;
    --secondary: #c7bbbc;
    --bg-secondary: #ced6e0;
}

    * {
    margin:0;
    padding:0;
    
    }

    /*   ****PAUL IRISH RESET****  */
   html {
    background-color: var(--bg-primary);
    box-sizing: border-box;
    font-size:16px;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
   
}

.header-one {
    text-align: center;
    font-size: 3.5em;
    
    
}
.coderpic {
    width: 100%;
    text-align: center;
   
}
.profile-picture {
    border: 3px solid black;
    border-radius: 30% 8% 30% 8% ;
    border: hidden;
    
}
.dispatcher  {
    font-size: 20px;
    justify-content: space-evenly;
    background-color: #dd8ea4;
    border-radius: 2%;
    margin:3px;
    box-shadow: 0 8px 6px 1px black;
    width:300px;
   
}

.police-officer {
        font-size: 20px;
        justify-content: space-evenly;
        background-color: #dd8ea4;
        border-radius: 2%;
        margin:3px;
        box-shadow: 0 8px 6px 1px black;
        width: 300px;
        
}

.police-officer-pic {
    width:200px;
    margin:20px auto auto auto;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.dispatcher-pic {
    width: 200px;
        margin: 20px auto auto auto;
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
   
}
.hostage-negotiator-pic {
    width: 200px;
        margin: 20px auto auto auto;
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
}

.hostage-negotiator {
        font-size: 20px;
        justify-content: space-evenly;
        background-color: #dd8ea4;
        border-radius: 2%;
        margin:3px;
        box-shadow: 0 8px 6px 1px black;
        width: 300px;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    margin: 70px;
    padding:20px;
    

}
.dispatcher >p  {
    text-align:center;
    justify-content:center;
}
.police-officer >p {
    text-align: center;
    justify-content: center;
}

.hostage-negotiator >p {
    text-align: center;
    justify-content: center;
}
/*   ****NAV BAR ***   */

li a {
    display: flex;
    width: auto;
    color: var(--primary);
    justify-content: space-evenly;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    
}
    

    
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    
    
  
  
    }

li a:hover {
    background-color: #dd8ea4;
    border: 2px solid #616161;
    border-radius: 10px;
    cursor: pointer;
    
    
    color: var(--primary);

} 
.nav-bar  {
    display: block;
    justify-content: space-evenly;
    background-color: var(--bg-secondary);
    border: 3px solid #424242;
    border-radius: 35px;
    box-shadow: 0px 15px 10px -15px #111;
    position: sticky;
    top: 0;
    width: 100%;
    
    
    

  
    
}
.nav-bar a {
    padding: 2px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    
   
    
} 
.nav-bar-item {
    letter-spacing: 2px;
    text-transform: uppercase;
   transition: color 0.3s;
    margin: 1rem;
    padding: 10px;
   
    
    
} 


    .my-career {
        display:flex;
        text-align:center;
        margin: 5px;
        padding-top: 50px;
        font-size: 1.3rem;
        
    }
    .header-two {
        font-size: 3.5em;
        text-align: center;
        margin: auto;
        padding: 100px;
    }

    /*  ****CURRENT STUDIES SECTION****   */
    .studies-container {
        display: flex;
        justify-content: space-between;
        text-align:center;
        flex-wrap: nowrap;
        width: auto;
        margin: 5px 10px 150px 5px;
        padding: 50px;
        overflow: hidden;
        
    }
    
    .html-container {
        
    }
 .html-pic {
    width: 50%
    
    
    
 }
          
 .css-pic {
    width: 50%
    
 }
  .js-pic {
    width: 50%
  }

   .react-pic {
    width: 50%
   }
 

   

         
    
         .button-formatting:hover {
             background-color: #dd8ea4;
             
    
         }
         .button-container {
            text-align: center;
            margin-bottom: 150px;
           
           
         }

         .button-formatting {
            font-size: 30px;
            padding: 9px;
            font-weight: bold;
            border: 1px solid black;
            border-radius: 6%;
            background-color:var(--bg-secondary);
            text-decoration: none;
            color:black;
           
           
            
         }
        

       
       .linkedin-icon {
        width: 50px;
        padding: 10px;
       }
        .github-icon {
            width: 50px;
            padding: 10px;

        }

        .social-media-icon {
            display:flex;
            text-align: center;
        }
        #email {
            margin-left: 30px;
            
        }
      
    
/*   ****MOBILE RESPONSIVENESS***  */


@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
       
    }
}
